.long-img-box {
    max-height: 600px;
    overflow: hidden;
    margin-bottom: -10px;
    border-radius: 8px;
}

.caption-img {
    
}

.long-img-box img {
    z-index: 1;
}

.title-bar {
    background: var(--solid-color-3);
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    padding-top: 18px;
    flex-direction: row;
    border-radius: 0 0 8px 8px;
    line-height: 1.2em;
    height: 32px;
    cursor: pointer;
    user-select: none;
    transition: background-color var(--transition-time) ease;
    -webkit-transition: background-color var(--transition-time) ease;
}

.title-bar:hover {
    background: var(--comment-bg-color);
}

#click-expand {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.85em;
}

#click-expand i {
    transition: transform var(--transition-time) ease;
    -webkit-transition: transform var(--transition-time) ease;
    display: inline-block;
}

.image-box {
    width: 100%;
    transition: width var(--transition-time) ease,
                margin var(--transition-time) ease;
    -webkit-transition: width var(--transition-time) ease,
                        margin var(--transition-time) ease;
}

.small-box {
    width: 23%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 8px;
    display: inline-block;
    margin: 5px;
}

.small-box img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover; 
}

.small-box .image-caption {
    font-size: 0;
    height: 0;
}

/*#switch-img-mode {padding: 6px 12px;background: var(--faint-color-1);border-radius: 4px;color: var(--faint-color-3);font-family: var(--pageinfo-font-family);font-size: 14px;text-decoration: none;transition: all 0.3s ease;-webkit-transition: all 0.3s ease;margin-bottom: 0 !important;border: none;}margin-bottom: 0 !important;border: none;}*/

.img-float-bar {
    position: fixed;
    right: 32px;
    bottom: 32px;
    z-index: 998;
    background: var(--faint-color-1);
    border-radius: 12px;
    padding: 6px 8px;
    display: flex;
    align-items: center;
}
.float-btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    font-size: 16px;
    color: var(--faint-color-4);
}

.float-btn:hover {
    background: #f0f0f0;
    color: #222;
}

@media screen and (max-width: 768px) {
    .small-box {
        aspect-ratio: auto;
    }
}